* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Roboto";
}

body {
    background-color: rgb(43, 43, 43);
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

.checkbox {
    -webkit-appearance: none;
    background-color: transparent;
    height: 100%;
    width: 100%;
    color: transparent;
    position: relative;
    top: 0px;
    display: inline-block;
}

.giantWrapper {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.moviechoice>h2 {
    position: absolute;
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moviechoice {
    display: inline-block;
    margin: 0 auto;
    width: 70%;
    position: relative;
    transition: .2s;
}

.moviechoice:hover {
    cursor: pointer;
}

.firstWrapper,
.secondWrapper {
    width: 50%;
    text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 570px) {
    @keyframes re {
        0% {

            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .herotitle {
        height: 10vh;
        width: 100%;
        text-align: center;
    }

    .herotitle>h1 {
        font-size: 35px;
        padding-top: 5px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 11px;
        color: white;
        animation-name: re;
        animation-duration: .8s;
        animation-iteration-count: initial;
        animation-direction: normal forwards;
    }

    .herotitle>p {
        color: white;
        text-transform: capitalize;
        margin-bottom: 20px;
        animation-name: re;
        animation-duration: .8s;
        animation-iteration-count: initial;
        animation-direction: normal forwards;
    }

    .choices {
        position: relative;
        height: 70vh;
        width: 90%;
        margin: 5% auto;
        padding: 15px;
        border-radius: 40px;
        text-align: center;
        animation-name: re;
        animation-duration: .8s;
        animation-iteration-count: initial;
        animation-direction: normal forwards;
    }

    .choices>h3 {
        color: white;
    }


    .moviechoice {
        height: 40px;
        width: 80%;
        margin: 10px 5px;
        font-weight: bold;
        text-transform: uppercase;
        color: rgb(204, 40, 73);
        border: 2px solid rgb(204, 40, 73);
        background-color: transparent;

    }

    .moviechoice>h2 {
        font-size: 18px;
        display: flex;
        padding-top: 7px;
    }

    .moviechoice:active {
        background-color: rgb(204, 40, 73);
        color: white;
    }

    .next {
        margin-top: 30px;
        color: rgb(221, 221, 221);
        text-decoration: none;
    }

    input {
        height: 30px;
        width: 100%;
    }
}

@media screen and (min-width: 571px) and (max-width: 900px) {
    @keyframes re {
        0% {

            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .herotitle {
        height: 10vh;
        width: 100%;
        text-align: center;
    }

    .herotitle>h1 {
        font-size: 45px;
        padding-top: 5px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 15px;
        color: white;
        animation-name: re;
        animation-duration: .8s;
        animation-iteration-count: initial;
        animation-direction: normal forwards;
    }

    .herotitle>p {
        font-size: 24px;
        color: white;
        text-transform: capitalize;
        margin-bottom: 20px;
        animation-name: re;
        animation-duration: .8s;
        animation-iteration-count: initial;
        animation-direction: normal forwards;
    }

    .choices {
        position: relative;
        height: 70vh;
        width: 90%;
        margin: 5% auto;
        padding: 15px;
        border-radius: 40px;
        text-align: center;
        animation-name: re;
        animation-duration: .8s;
        animation-iteration-count: initial;
        animation-direction: normal forwards;

    }

    .choices>h3 {
        color: white;
    }

    .genre1 {
        animation-name: re;
        animation-duration: .8s;
        animation-iteration-count: initial;
        animation-direction: forwards;

    }

    .genre2 {
        animation-name: re;
        animation-duration: 1s;
        animation-iteration-count: initial;
        animation-direction: forwards;

    }

    .genre3 {
        animation-name: re;
        animation-duration: .7s;
        animation-iteration-count: initial;
        animation-direction: forwards;

    }

    .genre4 {
        animation-name: re;
        animation-duration: .1s;
        animation-iteration-count: initial;
        animation-direction: forwards;

    }

    .genre5 {
        animation-name: re;
        animation-duration: .8;
        animation-iteration-count: initial;
        animation-direction: forwards;

    }

    .genre6 {
        animation-name: re;
        animation-duration: .1s;
        animation-iteration-count: initial;
        animation-direction: forwards;

    }

    .genre7 {
        animation-name: re;
        animation-duration: .8s;
        animation-iteration-count: initial;
        animation-direction: forwards;

    }

    .genre8 {
        animation-name: re;
        animation-duration: .3s;
        animation-iteration-count: initial;
        animation-direction: forwards;

    }

    .genre9 {
        animation-name: re;
        animation-duration: .1s;
        animation-iteration-count: initial;
        animation-direction: forwards;

    }

    .genre10 {
        animation-name: re;
        animation-duration: .8s;
        animation-iteration-count: initial;
        animation-direction: forwards;

    }

    .moviechoice {
        height: 47px;
        width: 70%;
        margin: 10px 5px;
        padding-top: 10px;
        font-weight: bold;
        font-size: 15px;
        text-transform: uppercase;
        color: rgb(204, 40, 73);
        border: 2px solid rgb(204, 40, 73);
        background-color: transparent;

    }

    .moviechoice:active {
        background-color: rgb(204, 40, 73);
        color: white;
    }

    .next {
        margin-top: 30px;
        color: rgb(221, 221, 221);
        text-decoration: none;
    }

    input {
        height: 30px;
        width: 100%;
    }
}

@media screen and (min-width: 901px) and (max-width: 1439px) {
    @keyframes re {
        0% {

            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .herotitle {
        height: 10vh;
        width: 100%;
        text-align: center;
    }

    .herotitle>h1 {
        font-size: 55px;
        padding-top: 5px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 17px;
        color: white;
        animation-name: re;
        animation-duration: .8s;
        animation-iteration-count: initial;
        animation-direction: normal forwards;
    }

    .herotitle>p {
        font-size: 27px;
        color: white;
        text-transform: capitalize;
        margin-bottom: 20px;
        animation-name: re;
        animation-duration: .8s;
        animation-iteration-count: initial;
        animation-direction: normal forwards;
    }

    .choices {
        position: relative;
        height: 70vh;
        width: 90%;
        margin: 5% auto;
        padding: 15px;
        border-radius: 40px;
        text-align: center;
        animation-name: re;
        animation-duration: .8s;
        animation-iteration-count: initial;
        animation-direction: normal forwards;
    }

    .choices>h3 {
        color: white;
        font-size: 27px;
    }

    .genre1 {
        animation-name: re;
        animation-duration: .8s;
        animation-iteration-count: initial;
        animation-direction: forwards;

    }

    .genre2 {
        animation-name: re;
        animation-duration: 1s;
        animation-iteration-count: initial;
        animation-direction: forwards;

    }

    .genre3 {
        animation-name: re;
        animation-duration: .7s;
        animation-iteration-count: initial;
        animation-direction: forwards;

    }

    .genre4 {
        animation-name: re;
        animation-duration: .1s;
        animation-iteration-count: initial;
        animation-direction: forwards;

    }

    .genre5 {
        animation-name: re;
        animation-duration: .8;
        animation-iteration-count: initial;
        animation-direction: forwards;

    }

    .genre6 {
        animation-name: re;
        animation-duration: .1s;
        animation-iteration-count: initial;
        animation-direction: forwards;

    }

    .genre7 {
        animation-name: re;
        animation-duration: .8s;
        animation-iteration-count: initial;
        animation-direction: forwards;

    }

    .genre8 {
        animation-name: re;
        animation-duration: .3s;
        animation-iteration-count: initial;
        animation-direction: forwards;

    }

    .genre9 {
        animation-name: re;
        animation-duration: .1s;
        animation-iteration-count: initial;
        animation-direction: forwards;

    }

    .genre10 {
        animation-name: re;
        animation-duration: .8s;
        animation-iteration-count: initial;
        animation-direction: forwards;

    }

    .moviechoice {
        height: 50px;
        width: 80%;
        margin: 10px 5px;
        padding-top: 15px;
        font-weight: bold;
        font-size: 15px;
        text-transform: uppercase;
        color: rgb(204, 40, 73);
        border: 2px solid rgb(204, 40, 73);
        background-color: transparent;

    }

    .moviechoice:active {
        background-color: rgb(204, 40, 73);
        color: white;
    }

    .next {
        margin-top: 30px;
        color: rgb(221, 221, 221);
        text-decoration: none;
        font-size: 23px;
    }

    input {
        height: 30px;
        width: 100%;
    }
}


@media screen and (min-width: 1440px) and (max-width: 2560px) {
    @keyframes re {
        0% {

            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .herotitle {
        height: 10vh;
        width: 100%;
        text-align: center;
    }

    .herotitle>h1 {
        font-size: 65px;
        padding-top: 5px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 17px;
        color: white;
        animation-name: re;
        animation-duration: .8s;
        animation-iteration-count: initial;
        animation-direction: normal forwards;
    }

    .herotitle>p {
        font-size: 37px;
        color: white;
        text-transform: capitalize;
        margin-bottom: 20px;
        animation-name: re;
        animation-duration: .8s;
        animation-iteration-count: initial;
        animation-direction: normal forwards;
    }

    .choices {
        position: relative;
        height: 70vh;
        width: 90%;
        margin: 5% auto;
        padding: 15px;
        border-radius: 40px;
        text-align: center;
        animation-name: re;
        animation-duration: .8s;
        animation-iteration-count: initial;
        animation-direction: normal forwards;
    }

    .choices>h3 {
        color: white;
        font-size: 34px;
    }

    .genre1 {
        animation-name: re;
        animation-duration: .8s;
        animation-iteration-count: initial;
        animation-direction: forwards;

    }

    .genre2 {
        animation-name: re;
        animation-duration: 1s;
        animation-iteration-count: initial;
        animation-direction: forwards;

    }

    .genre3 {
        animation-name: re;
        animation-duration: .7s;
        animation-iteration-count: initial;
        animation-direction: forwards;

    }

    .genre4 {
        animation-name: re;
        animation-duration: .1s;
        animation-iteration-count: initial;
        animation-direction: forwards;

    }

    .genre5 {
        animation-name: re;
        animation-duration: .8;
        animation-iteration-count: initial;
        animation-direction: forwards;

    }

    .genre6 {
        animation-name: re;
        animation-duration: .1s;
        animation-iteration-count: initial;
        animation-direction: forwards;

    }

    .genre7 {
        animation-name: re;
        animation-duration: .8s;
        animation-iteration-count: initial;
        animation-direction: forwards;

    }

    .genre8 {
        animation-name: re;
        animation-duration: .3s;
        animation-iteration-count: initial;
        animation-direction: forwards;

    }

    .genre9 {
        animation-name: re;
        animation-duration: .1s;
        animation-iteration-count: initial;
        animation-direction: forwards;

    }

    .genre10 {
        animation-name: re;
        animation-duration: .8s;
        animation-iteration-count: initial;
        animation-direction: forwards;

    }

    .moviechoice {
        height: 60px;
        width: 70%;
        margin: 10px 5px;
        padding-top: 10px;
        font-weight: bold;
        font-size: 22px;
        text-transform: uppercase;
        color: rgb(204, 40, 73);
        border: 2px solid rgb(204, 40, 73);
        background-color: transparent;

    }

    .moviechoice:active {
        background-color: rgb(204, 40, 73);
        color: white;
    }

    .next {
        margin-top: 30px;
        color: rgb(221, 221, 221);
        text-decoration: none;
        font-size: 25px;
    }

    input {
        height: 30px;
        width: 100%;
    }
}