* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Roboto";
}

body {
    background-color: rgb(43, 43, 43);
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

@media screen and (min-width: 320px) and (max-width: 570px) {
    @keyframes go {
        0% {
            width: 0%;
            opacity: 0;
        }

        100% {
            opacity: 1;
            width: 100%;
        }
    }

    @keyframes up {
        0% {
            height: 0%;
            opacity: 0;
        }

        100% {
            opacity: 1;
            height: 20%;
        }
    }

    @keyframes re {
        0% {

            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes colorUp {
        0% {
            color: transparent;

        }

        100% {
            color: white;
        }
    }

    .main {
        height: 85vh;
        background-color: white;
        width: 95%;
        margin: 5% auto;
        border-radius: 40px;
        position: relative;
        box-shadow: rgb(0, 0, 0) 0px 10px 10px;
        animation-name: re;
        animation-duration: .8s;
        animation-iteration-count: initial;
        animation-direction: normal forwards;
    }

    .herotitle {
        height: 10vh;
        width: 100%;
        text-align: center;

    }

    .herotitle>h1 {
        font-size: 35px;
        padding-top: 5px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 11px;
        color: white;
        animation-name: colorUp;
        animation-duration: 2.5s;
        animation-iteration-count: initial;
        animation-direction: normal forwards;
    }

    .herotitle>p {
        color: white;
        text-transform: capitalize;
        margin-bottom: 20px;
        animation-name: colorUp;
        animation-duration: 4.5s;
        animation-iteration-count: initial;
        animation-direction: normal forwards;
    }

    .herobox {
        background: rgb(255, 55, 96);
        background: linear-gradient(100deg,
                rgba(255, 55, 96, 1) 0%,
                rgb(197, 38, 38) 100%);
        text-align: center;
        height: 22%;
        border-radius: 40px 40px 0 0;
        padding: 10px;
        animation-name: up;
        animation-duration: .5s;
        animation-iteration-count: initial;
        animation-direction: normal forwards;
    }

    .herobox>h1 {
        color: white;
        font-weight: 400;
        transform: translateY(70%);
        font-size: 27px;
    }

    .avatarbox {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        background-image: url(/profilepic.jpg);
        background-position: top;
        background-size: cover;
        border: 2px solid rgb(221, 221, 221);
        box-shadow: 1px 5px 10px lightgrey;
        margin: auto;
        transform: translateY(45%);
    }

    .formbox {
        height: 65%;
        width: 90%;
        margin: 0 15px;
        text-align: center;
        position: absolute;
        bottom: 9%;
    }

    .formbox>h2 {
        text-transform: capitalize;
        text-align: left;
        margin-top: 20px;
    }

    .formbox>p {
        font-weight: 400;
        color: rgb(129, 129, 129);
    }

    form {
        position: absolute;
        bottom: 15%;
        width: 100%;
    }

    label {
        color: rgb(167, 167, 167);
        float: left;
        font-size: 12px;
        margin-top: -5px;
    }

    input {
        float: left;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: lightgray 1px solid;
        height: 34px;
        width: 100%;
        margin-bottom: 15px;
        background-color: white;
    }

    .signup {
        height: 40px;
        width: 100%;
        background-color: transparent;
        border: 2px solid rgb(255, 55, 96);
        color: rgb(255, 55, 96);
        text-transform: uppercase;
        font-weight: bold;
    }

    .main>a {
        position: absolute;
        bottom: 5%;
        transform: translate(50%);
        text-decoration: none;
        color: rgb(167, 167, 167);
    }

    .create,
    .join {
        margin: 0 auto;
    }
}

@media screen and (min-width: 571px) and (max-width: 870px) {
    @keyframes go {
        0% {
            width: 0%;
            opacity: 0;
        }

        100% {
            opacity: 1;
            width: 100%;
        }
    }

    @keyframes up {
        0% {
            height: 0%;
            opacity: 0;
        }

        100% {
            opacity: 1;
            height: 20%;
        }
    }

    @keyframes re {
        0% {

            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes colorUp {
        0% {
            color: transparent;

        }

        100% {
            color: white;
        }
    }

    .main {
        height: 85vh;
        background-color: white;
        width: 95%;
        margin: 10% auto;
        border-radius: 40px;
        position: relative;
        box-shadow: rgb(0, 0, 0) 0px 10px 10px;
        animation-name: re;
        animation-duration: .8s;
        animation-iteration-count: initial;
        animation-direction: normal forwards;
    }

    .herotitle {
        height: 10vh;
        width: 100%;
        text-align: center;

    }

    .herotitle>h1 {
        font-size: 35px;
        padding-top: 5px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 11px;
        color: white;
        animation-name: colorUp;
        animation-duration: 2.5s;
        animation-iteration-count: initial;
        animation-direction: normal forwards;
    }

    .herotitle>p {
        color: white;
        text-transform: capitalize;
        margin-bottom: 20px;
        animation-name: colorUp;
        animation-duration: 4.5s;
        animation-iteration-count: initial;
        animation-direction: normal forwards;
    }

    .herobox {
        background: rgb(255, 55, 96);
        background: linear-gradient(100deg,
                rgba(255, 55, 96, 1) 0%,
                rgb(197, 38, 38) 100%);
        text-align: center;
        height: 22%;
        border-radius: 40px 40px 0 0;
        padding: 10px;
        animation-name: up;
        animation-duration: .5s;
        animation-iteration-count: initial;
        animation-direction: normal forwards;
    }

    .herobox>h1 {
        color: white;
        font-weight: 400;
        transform: translateY(70%);
    }

    .avatarbox {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        background-image: url(/profilepic.jpg);
        background-position: top;
        background-size: cover;
        border: 2px solid rgb(221, 221, 221);
        box-shadow: 1px 5px 10px lightgrey;
        margin: auto;
        transform: translateY(45%);
    }

    .formbox {
        height: 65%;
        width: 90%;
        margin: 0 15px;
        text-align: center;
        position: absolute;
        bottom: 9%;
    }

    .formbox>h2 {
        text-transform: capitalize;
        text-align: left;
        margin-top: 20px;
    }

    .formbox>p {
        font-weight: 400;
        color: rgb(129, 129, 129);
    }

    form {
        position: absolute;
        bottom: 10%;
        width: 100%;
    }

    label {
        color: rgb(167, 167, 167);
        float: left;
        font-size: 15px;
        margin-top: -5px;
    }

    input {
        float: left;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: lightgray 1px solid;
        height: 40px;
        width: 100%;
        font-size: 17px;
        margin-bottom: 18px;
        background-color: white;
    }

    .signup {
        height: 45px;
        width: 80%;
        background-color: transparent;
        border: 2px solid rgb(255, 55, 96);
        color: rgb(255, 55, 96);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
    }

    .create,
    .join {
        margin: 0 auto;
    }

}

@media screen and (min-width: 871px) and (max-width: 1080px) {
    @keyframes go {
        0% {
            width: 0%;
            opacity: 0;
        }

        100% {
            opacity: 1;
            width: 100%;
        }
    }

    @keyframes up {
        0% {
            height: 0%;
            opacity: 0;
        }

        100% {
            opacity: 1;
            height: 20%;
        }
    }

    @keyframes re {
        0% {

            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes colorUp {
        0% {
            color: transparent;

        }

        100% {
            color: white;
        }
    }

    .main {
        height: 85vh;
        background-color: white;
        width: 80%;
        margin: 5% auto;
        border-radius: 40px;
        position: relative;
        box-shadow: rgb(0, 0, 0) 0px 10px 10px;
        animation-name: re;
        animation-duration: .8s;
        animation-iteration-count: initial;
        animation-direction: normal forwards;
    }

    .herotitle {
        height: 10vh;
        width: 100%;
        text-align: center;

    }

    .herotitle>h1 {
        font-size: 35px;
        padding-top: 5px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 11px;
        color: white;
        animation-name: colorUp;
        animation-duration: 2.5s;
        animation-iteration-count: initial;
        animation-direction: normal forwards;
    }

    .herotitle>p {
        color: white;
        text-transform: capitalize;
        margin-bottom: 20px;
        animation-name: colorUp;
        animation-duration: 4.5s;
        animation-iteration-count: initial;
        animation-direction: normal forwards;
    }

    .herobox {
        background: rgb(255, 55, 96);
        background: linear-gradient(100deg,
                rgba(255, 55, 96, 1) 0%,
                rgb(197, 38, 38) 100%);
        text-align: center;
        height: 20%;
        border-radius: 40px 40px 0 0;
        padding: 10px;
        animation-name: up;
        animation-duration: .5s;
        animation-iteration-count: initial;
        animation-direction: normal forwards;
    }

    .herobox>h1 {
        color: white;
        font-weight: 400;
        transform: translateY(70%);
    }

    .formbox {
        height: 65%;
        width: 90%;
        margin: 0 15px;
        text-align: center;
        position: absolute;
        bottom: 9%;
    }

    .formbox>h2 {
        text-transform: capitalize;
        text-align: left;
        margin-top: 20px;
    }

    .formbox>p {
        font-weight: 400;
        color: rgb(129, 129, 129);
    }

    form {
        position: absolute;
        bottom: 10%;
        width: 100%;
    }

    label {
        color: rgb(167, 167, 167);
        float: left;
        font-size: 17px;
        margin-top: -5px;
    }

    input {
        float: left;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: lightgray 1px solid;
        height: 45px;
        width: 100%;
        margin-bottom: 19px;
        background-color: white;
    }

    .formbox>a {
        position: absolute;
        right: 5%;
        bottom: 35%;
        font-size: 12px;
        text-decoration: none;
        color: rgb(255, 55, 96);
    }

    .signup {
        height: 45px;
        width: 80%;
        background-color: transparent;
        border: 2px solid rgb(255, 55, 96);
        color: rgb(255, 55, 96);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 17px;
    }

    .main>a {
        position: absolute;
        bottom: 5%;
        transform: translate(50%);
        text-decoration: none;
        color: rgb(167, 167, 167);
    }

    .create,
    .join {
        margin: 0 auto;
    }
}

@media screen and (min-width: 1081px) and (max-width: 1440px) {
    @keyframes go {
        0% {
            width: 0%;
            opacity: 0;
        }

        100% {
            opacity: 1;
            width: 100%;
        }
    }

    @keyframes up {
        0% {
            height: 0%;
            opacity: 0;
        }

        100% {
            opacity: 1;
            height: 20%;
        }
    }

    @keyframes re {
        0% {

            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes colorUp {
        0% {
            color: transparent;

        }

        100% {
            color: white;
        }
    }

    .main {
        height: 75vh;
        background-color: white;
        width: 80%;
        margin: 5% auto;
        border-radius: 40px;
        position: relative;
        box-shadow: rgb(0, 0, 0) 0px 10px 10px;
        animation-name: re;
        animation-duration: .8s;
        animation-iteration-count: initial;
        animation-direction: normal forwards;
    }

    .herotitle {
        height: 10vh;
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .herotitle>h1 {
        font-size: 35px;
        padding-top: 5px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 11px;
        color: white;
    }

    .herotitle>p {
        color: white;
        text-transform: capitalize;
        margin-bottom: 20px;
    }

    .herobox {
        background: rgb(255, 55, 96);
        background: linear-gradient(100deg,
                rgba(255, 55, 96, 1) 0%,
                rgb(197, 38, 38) 100%);
        display: flex;
        justify-content: center;
        height: 17%;
        border-radius: 40px 40px 0 0;
    }

    .herobox>h1 {
        color: white;
        font-weight: 400;
        margin: auto;
    }

    .formbox {
        height: 75%;
        width: 90%;
        margin: 0 auto;
        text-align: center;

    }

    .formbox>h2 {
        text-transform: capitalize;
        text-align: left;
        margin-top: 20px;
    }

    .formbox>p {
        font-weight: 400;
        color: rgb(129, 129, 129);
    }

    form {
        height: 100%;
        margin: 0 auto;
        width: 100%;
    }

    label {
        color: rgb(167, 167, 167);
        float: left;
        font-size: 14px;
        margin-top: -5px;
    }

    input {
        float: left;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: lightgray 1px solid;
        height: 40px;
        width: 100%;
        font-size: 20px;
        margin-bottom: 12px;
        background-color: white;
    }

    .formbox>a {
        position: absolute;
        right: 5%;
        bottom: 35%;
        font-size: 12px;
        text-decoration: none;
        color: rgb(255, 55, 96);
    }

    .signup {
        height: 40px;
        width: 80%;
        background-color: transparent;
        border: 2px solid rgb(255, 55, 96);
        color: rgb(255, 55, 96);
        text-transform: uppercase;
        font-weight: bold;
    }

    .main>a {
        position: absolute;
        bottom: 5%;
        transform: translate(50%);
        text-decoration: none;
        color: rgb(167, 167, 167);
    }

    .create,
    .join {
        margin: 0 auto;
    }
}

@media screen and (min-width: 1441px) and (max-width: 2570px) {
    @keyframes go {
        0% {
            width: 0%;
            opacity: 0;
        }

        100% {
            opacity: 1;
            width: 100%;
        }
    }

    @keyframes up {
        0% {
            height: 0%;
            opacity: 0;
        }

        100% {
            opacity: 1;
            height: 20%;
        }
    }

    @keyframes re {
        0% {

            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes colorUp {
        0% {
            color: transparent;

        }

        100% {
            color: white;
        }
    }

    .main {
        height: 80vh;
        background-color: white;
        width: 80%;
        margin: 2% auto;
        border-radius: 40px;
        position: relative;
        box-shadow: rgb(0, 0, 0) 0px 10px 10px;
        animation-name: re;
        animation-duration: .8s;
        animation-iteration-count: initial;
        animation-direction: normal forwards;
    }

    .herotitle {
        height: 10vh;
        width: 100%;
        text-align: center;
    }

    .herotitle>h1 {
        font-size: 45px;
        padding-top: 5px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 11px;
        color: white;
        animation-name: colorUp;
        animation-duration: 2.5s;
        animation-iteration-count: initial;
        animation-direction: normal forwards;
    }

    .herotitle>p {
        color: white;
        text-transform: capitalize;
        margin-bottom: 20px;
        animation-name: colorUp;
        animation-duration: 4.5s;
        animation-iteration-count: initial;
        animation-direction: normal forwards;
    }

    .herobox {
        background: rgb(255, 55, 96);
        background: linear-gradient(100deg,
                rgba(255, 55, 96, 1) 0%,
                rgb(197, 38, 38) 100%);
        display: flex;
        justify-content: center;
        align-content: center;
        height: 22%;
        border-radius: 40px 40px 0 0;
        animation-name: up;
        animation-duration: .5s;
        animation-iteration-count: initial;
        animation-direction: normal forwards;
    }

    .herobox>h1 {
        color: rgb(255, 255, 255);
        font-weight: 400;

    }

    .create,
    .join {
        margin: 0 auto;
    }

    .formbox {
        height: 65%;
        width: 80%;
        margin: 5% auto;
        text-align: center;

    }

    .formbox>h2 {
        text-transform: capitalize;
        text-align: left;
        margin-top: 20px;
    }

    .formbox>p {
        font-weight: 400;
        color: rgb(129, 129, 129);
    }

    form {
        margin: 0 auto;
        width: 80%;
    }

    label {
        color: rgb(167, 167, 167);
        float: left;
        font-size: 14px;
        margin-top: -5px;
    }

    input {
        float: left;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: lightgray 1px solid;
        height: 40px;
        width: 100%;
        font-size: 22px;
        margin-bottom: 12px;
        background-color: white;
    }

    .signup {
        height: 40px;
        width: 100%;
        background-color: transparent;
        border: 2px solid rgb(255, 55, 96);
        color: rgb(255, 55, 96);
        text-transform: uppercase;
        font-weight: bold;
    }

    .main>a {
        position: absolute;
        bottom: 5%;
        transform: translate(50%);
        text-decoration: none;
        color: rgb(167, 167, 167);
    }
}