<nav id="side" class="side">
  <h3>Welcome back!</h3>
  <ul>
    <a href="moviepage" id="list">
      <li>Home</li>
    </a>
    <a href="" id="list">
      <li>Watch later</li>
    </a>
    <a href="" id="list">
      <li>Latest</li>
    </a>
    <a href="" id="list">
      <li>Watch With Others</li>
    </a>
    <a href="/" id="list">
      <li>Logout</li>
    </a>
  </ul>
  <i id="close" class="fas fa-times"></i>
  <div id="sidesub" class="sidesub"></div>
</nav>
<div class="topmenu">
  <div id="burger" class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line1"></div>
  </div>

  <div class="herotitle">
    <h1>flixify</h1>
    <p>movies everywhere</p>
  </div>
  <a href="profile" class="usericon">
    <div></div>
  </a>
</div>

<form class="searchdiv" action="/search?source=hp" method="post">
  <input type="search" name="search" id="search" placeholder="Search for a movie..." />
  <button class="submitsearch" type="submit">
    <i class="fas fa-search"></i>
  </button>
</form>