<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>flixify</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="/index.css" />
</head>

<body>
  <div class="herotitle">
    <h1>flixify</h1>
    <p>movies everywhere</p>
  </div>
  <div class="main">
    <div class="herobox">
      <h3>Welcome back!</h3>
      <h2>Username</h2>
      <div class="avatarbox">
      </div>
    </div>
    <div class="formbox">
      <h2>Login to your account</h2>
      <!-- <p>Watch movies soon</p> -->
      <form action="" method="POST">
        <label for="username">Username</label><br />
        <input type="text" name="username" id="username" /><br />
        <label for="password">Password</label><br />
        <input type="password" name="password" id="password" />
      </form>
      <a href="forgotpw">Forgot Password?</a>
      <button class="login" type="submit">
        <a href="moviepage">Login</a>
      </button>
    </div>
    <a href="signup">Sign up for an account</a>
  </div>
</body>

</html>