<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="/genres.css" />
</head>

<body>
  <div class="herotitle">
    <h1>flixify</h1>
    <p>movies everywhere</p>
  </div>
  <div class="choices">
    <h3 class="watch">What do you like to watch?</h3>
    <button id="action" class="genre1 moviechoice" type='button' value='28'>Action</button>
    <button id="comedy" class="genre2 moviechoice" type='button' value='35'>Comedy</button>
    <button id="drama" class="genre3 moviechoice" type='button' value='18'>Drama</button>
    <button id="crime" class="genre4 moviechoice" type='button' value='80'>Crime</button>
    <button id="romance" class="genre5 moviechoice" type='button' value='10749'>Romance</button>
    <button id="horror" class="genre6 moviechoice" type='button' value='27'>Horror</button>
    <button id="mystery" class="genre7 moviechoice" type='button' value='9648'>Mystery</button>
    <button id="scifi" class="genre8 moviechoice" type='button' value='878'>Sci-fi</button>
    <button id="animation" class="genre9 moviechoice" type='button' value='16'>Animation</button>
    <button id="kids" class="genre10 moviechoice" type='button' value='10751'>Kids Shows</button>

    <h2 class="next">Start Watching</h2>

  </div>
</body>
<script>
  let moviedb = [];
  let genreArray = [];
  let movieChoices = document.querySelectorAll(".moviechoice");
  movieChoices.forEach(moviechoice => {
    moviechoice.addEventListener('click', (evt) => {
      console.log(evt.target)
      let id = evt.target.id
      if (id in genreArray) {
        genreArray = [...genreArray.filter(g => g != id)]
      } else {
        genreArray = [...genreArray.filter(g => g != id), id]
      }
    })
  })
  let nextButton = document.querySelector('.next')
  nextButton.addEventListener('click', () => {
    console.log(genreArray)
    window.location = `/moviepage/${genreArray.join(',')}`
  })
</script>

</html>