<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Flixify</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="/genres.css" />
</head>

<body>
  <div class="herotitle">
    <h1>flixify</h1>
    <p>movies everywhere</p>
  </div>
  <div class="choices">
    <h3 class="watch">What do you like to watch?</h3>
    <form action="/moviegenres" method="POST" class="giantWrapper">
      <div class="firstWrapper">
        <div id="action" class="genre1 moviechoice" type='div' value='28'>
          <h2>Action</h2>
          <input type="checkbox" name="action" id="action" class="checkbox">
        </div>

        <div id="comedy" class="genre2 moviechoice" type='div' value='35'>
          <h2>Comedy</h2>
          <input type="checkbox" name="comedy" id="comedy" class="checkbox">
        </div>

        <div id="drama" class="genre3 moviechoice" type='div' value='18'>
          <h2>Drama</h2>
          <input type="checkbox" name="drama" id="drama" class="checkbox">
        </div>

        <div id="crime" class="genre4 moviechoice" type='div' value='80'>
          <h2>Crime</h2>
          <input type="checkbox" name="crime" id="crime" class="checkbox">
        </div>

        <div id="romance" class="genre5 moviechoice" type='div' value='10749'>
          <h2>Romance</h2>
          <input type="checkbox" name="romance" id="romance" class="checkbox">
        </div>
      </div>

      <div class="secondWrapper">
        <div id="horror" class="genre6 moviechoice" type='div' value='27'>
          <h2>Horror</h2>
          <input type="checkbox" name="horror" id="horror" class="checkbox">
        </div>

        <div id="mystery" class="genre7 moviechoice" type='div' value='9648'>
          <h2>Mystery</h2>
          <input type="checkbox" name="mystery" id="mystery" class="checkbox">
        </div>

        <div id="scifi" class="genre8 moviechoice" type='div' value='878'>
          <h2>Sci-fi</h2>
          <input type="checkbox" name="scifi" id="scifi" class="checkbox">
        </div>

        <div id="animation" class="genre9 moviechoice" type='div' value='16'>
          <h2>Animation</h2>
          <input type="checkbox" name="animation" id="animation" class="checkbox">
        </div>

        <div id="kids" class="genre10 moviechoice" type='div' value='10751'>
          <h2>Kids Shows</h2>
          <input type="checkbox" id="kids" class="checkbox" name="kids">
        </div>
      </div>
      <button class="next" type="submit">Start Watching</button>
    </form>



  </div>
</body>
<script>
  let moviedb = [];
  let genreArray = [];
  let movieChoices = document.querySelectorAll(".moviechoice");
  movieChoices.forEach(moviechoice => {
    moviechoice.addEventListener('click', (evt) => {
      console.log(evt.target)
      let id = evt.target.id
      if (id in genreArray) {
        genreArray = [...genreArray.filter(g => g != id)]
      } else {
        genreArray = [...genreArray.filter(g => g != id), id]
      }
    })
  })
  // let nextdiv = document.querySelector('.next')
  // nextdiv.addEventListener('click', () => {
  //   console.log(genreArray)
  //   window.location = `/moviepage/${genreArray.join(',')}`
  // })
</script>

</html>