<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/genres.css" />
  </head>
  <body>
    <div class="herotitle">
      <h1>flixify</h1>
      <p>movies everywhere</p>
    </div>
    <div class="choices">
      <h3>What do you like to watch?</h3>
      <button class="genre1 moviechoice">Action</button>
      <button class="genre2 moviechoice">Comedy</button>
      <button class="genre3 moviechoice">Drama</button>
      <button class="genre4 moviechoice">Crime</button>
      <button class="genre5 moviechoice">Romance</button>
      <button class="genre6 moviechoice">Horror</button>
      <button class="genre7 moviechoice">Mystery</button>
      <button class="genre8 moviechoice">Sci-fi</button>
      <button class="genre9 moviechoice">Animation</button>
      <button class="genre10 moviechoice">Kids Shows</button>
      <a href="moviepage" class="next"><h2>Start Watching</h2></a>
    </div>
  </body>
</html>
