<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css" />
  <link rel="stylesheet" href="/moviepage.css" />
</head>

<body>
  <div id="main" class="main">
    <%- include('./partials/menu');%>
    <div class="movies">
      <h4 class="genre">Top Movies</h4>
      <div class="movierow">
        <% parsedData.forEach((movie)=>{%>
        <div class="box">
          <a href="/movie/<%=movie.id%>"> <img src="<%= imageBaseUrl + movie.poster_path %>" alt=""></a>
        </div>
        <%})%>
      </div>
    </div>
    <div class="movies">
      <h4 class="genre">Your Choices</h4>
      <div class="movierow">
        <div class="box"></div>
        <div class="box2"></div>
        <div class="box"></div>
        <div class="box2"></div>
        <div class="box"></div>
        <div class="box2"></div>
        <div class="box"></div>
        <div class="box2"></div>
      </div>
    </div>
    <div class="movies">
      <h4 class="genre">Action/Adventure</h4>
      <div class="movierow">
        <div class="box"></div>
        <div class="box2"></div>
        <div class="box"></div>
        <div class="box2"></div>
        <div class="box"></div>
        <div class="box2"></div>
        <div class="box"></div>
        <div class="box2"></div>
      </div>
    </div>
    <div class="movies">
      <h4 class="genre">Comedy/Drama/Romance</h4>
      <div class="movierow">
        <div class="box"></div>
        <div class="box2"></div>
        <div class="box"></div>
        <div class="box2"></div>
        <div class="box"></div>
        <div class="box2"></div>
        <div class="box"></div>
        <div class="box2"></div>
      </div>
    </div>
    <div class="movies">
      <h4 class="genre">Crime/Thriller</h4>
      <div class="movierow">
        <div class="box"></div>
        <div class="box2"></div>
        <div class="box"></div>
        <div class="box2"></div>
        <div class="box"></div>
        <div class="box2"></div>
        <div class="box"></div>
        <div class="box2"></div>
      </div>
    </div>
    <div class="movies">
      <h4 class="genre">Mystery</h4>
      <div class="movierow">
        <div class="box"></div>
        <div class="box2"></div>
        <div class="box"></div>
        <div class="box2"></div>
        <div class="box"></div>
        <div class="box2"></div>
        <div class="box"></div>
        <div class="box2"></div>
      </div>
    </div>
    <div class="movies">
      <h4 class="genre">Sci-fi/Horror</h4>
      <div class="movierow">
        <div class="box"></div>
        <div class="box2"></div>
        <div class="box"></div>
        <div class="box2"></div>
        <div class="box"></div>
        <div class="box2"></div>
        <div class="box"></div>
        <div class="box2"></div>
      </div>
    </div>
    <div class="movies">
      <h4 class="genre">Kids Animation</h4>
      <div class="movierow">
        <div class="box"></div>
        <div class="box2"></div>
        <div class="box"></div>
        <div class="box2"></div>
        <div class="box"></div>
        <div class="box2"></div>
        <div class="box"></div>
        <div class="box2"></div>
      </div>
    </div>
  </div>
</body>
<script>
  let showMenu = () => {
    document.getElementById("side").style.width = "100%";
  };

  let closeMenu = () => {
    document.getElementById("side").style.width = "0%";
  };

  document.getElementById("side").addEventListener("click", () => {
    document.getElementById("side").style.width = "0%";
  });

  document.getElementById("burger").addEventListener("click", showMenu);
  document.getElementById("close").addEventListener("click", closeMenu);
</script>

</html>