<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="border: red solid 2px;">
        <iframe src="<%= movieAddress %>" height="100vh" width="150vh" id="player" allowfullscreen="true" allowtransparency="true" scrolling="no" frameborder="0"></iframe>
    </div>
</body>
</html>