<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="//use.fontawesome.com/releases/v5.0.7/css/all.css"
    />
    <link rel="stylesheet" href="/profilepage.css" />
  </head>
  <body>
    <div class="main">
      <div class="profilepage">
        <div class="topbox">
          <div class="userpic"></div>
          <h2 class="username"></h2>
        </div>
        <div class="userstats">
          <p>Watch Later</p>
          <div class="watchlaterbox">
            <div class="movie"></div>
            <div class="movie"></div>
            <div class="movie"></div>
          </div>
          <p>Liked Movies</p>
          <div class="likedmovies">
            <div class="movie"></div>
            <div class="movie"></div>
            <div class="movie"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
